.landing {
  position: absolute;
  top: 20%;
  left: 20%;

  display: flex;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  max-width: 50%;
  /* height: 60%; */
  padding: 20px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.lead {
  max-width: 40ch;
  margin-top: -100px;
  text-align: center;
  color: gray;
}

.btns {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 20px;
  border-radius: 50px;
  background: rgb(57, 14, 199);
  border: none;
  font-size: large;
  margin: 10px;
  color: rgb(255, 255, 255);
  transition: all 300ms ease-in-out;

}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.btn:disabled {
  background: rgba(128, 128, 128, 0.329);
}

.loginForm {
  /* background: #000; */
  margin-top: -20%;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form input {
  margin: 10px;
  /* background: #000; */
  text-align: center;
  padding: 10px;
  /* border-radius:x; */

}